<div class="contianer mt-5">
  <div style="text-align: center">
    @if(!registerMode){
    <h1>Find your match</h1>
    <p class="lead">
      Come on in to view your matches... all you need to do is sign up!
    </p>
    <div class="text-center">
      <button (click)="tooggleRegisterMode()" class="btn btn-primary btn-lg me-2">Register</button>
      <button class="btn btn-primary btn-lg me-2">Learn more</button>
    </div>
    } @else {
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-registeruser [usersFromHomeComponent]="users" 
          (cancelRegisterMode)="cancelRegisterMode($event)"></app-registeruser>
        </div>
      </div>
    </div>
    }
  </div>
</div>
